<!DOCTYPE html>
<html lang="en">

<head>
    {% include "layout/head.html" %}
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        {% include "layout/navbar.html" %}
    </header><!-- End Header -->

        <!-- ======= notfound div ======= -->
        <section class="page400">
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>{{page}}</h1>
                        <h2>Woops, that page doesn't exist!</h2>
                    </div>
                    <a href="/">Home</a>
                </div>
            </div>
        </section>

    {% include "layout/footer.html" %}

</body>

</html>