<!DOCTYPE html>
<html lang="en">

<head>
    {% include "layout/head.html" %}
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        {% include "layout/navbar.html" %}
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Page header Section ======= -->
        <section id="page" class="page text-center">
            <div class="container-fluid page-header">
                <h4>{{page}}</h4>
                <p>We send your consults</p>
                <a href="/">Home</a><i class="bi bi-arrow-right px-2"></i><span class="act">{{page}}</span>
            </div>
        </section><!-- End Page header Section -->

        <!-- ======= Services Section ======= -->
        <section>           

        </section><!-- End Services Section -->

    </main>

    {% include "layout/footer.html" %}

</body>

</html>