<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page}} - {{ g.site_title }}</title>

<!-- Favicons -->
<link href="{{url_for('static', filename='images/favicon.png')}}" rel="icon">

<!-- Google Fonts -->
<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

<!-- Vendor CSS Files -->
<!--Bootstrap integration our the base project, v1.0.2-->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--Bootstrap icon integration our the base project, and implement home page, v1.0.3-->
<link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}">

<!-- Template Main CSS File -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">